
/* ==> GENERAL STYLES <== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background:url(/bgBody1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

li{
    text-align: center;
}
button{
    padding:0 10px;
    border-radius: 8px;
    border: 1px solid steelblue;
    background: #ffffff;
    transition-duration: 300ms;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
    background: steelblue;
    color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    margin: 0 10%;
    display: grid;

    grid-template-rows: 15vh 70vh 85vh 85vh 85vh 85vh 85vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: " header header"
                         " section1 section1"
                         " section2 section2"
                         " section3 section3"
                         " section4 section4"
                         " section5 section5"
                         " section6 section6";

    grid-gap:20px;
}
/* ==>  POP-UP <== */

.popupBg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.popup{
    padding: 0 50px;
    position: fixed;
    top: 32.5vh;
    left: 40vw;
    width: 20vw;
    height: 35vh;
    align-items: center;
    justify-items: center;
    background: turquoise;
}

.popup .popupContent{
    width: 100%;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.popup .popupContent .remember{
    display: flex;
    flex-flow: row;
}

.popup .popupContent .remember .createAccount{
    margin: 0 0 0 30px;
    cursor: pointer;
}

.popup .popupContent .remember .ckbox{
    margin:3px 2px 0 0;
    width: max-content;
}

.popup .popupContent h1{
    margin: 10px 0;
}
.popup .popupContent input{
    width: 100%;
    margin: 10px 0;
}

.popup .popupContent button{
    margin: 30px 0;
}

/* ==> POP-UP FIM <== */

header{
    grid-area: header;
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo lista";
    
    background:;
}

header h3{
    grid-area: logo;
    margin: 10px;
}

header ul{
    grid-area: lista;
    margin: 10px;
    justify-self: end;
}

header ul li{
    display: inline-block;
    padding: 0 5px;
    height: 1.2vh;
}

/* ==> HEADER END <== */
/* ==> SECTIONS <== */

section{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

    background: #ffffff;
    border-radius:0;
}

.leftAbove{
    padding: 10px;
    display: flex;
    width: 50%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.rigthBellow{
    padding: 10px;
    display: flex;
    width: 50%;
    height: 100%;

    align-items: center;
    text-align: center;
    justify-content: center;
}

.secStyle1{
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

.secStyle2{
    
}

.secStyle2 ul{
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#sec1{
    flex-flow: row;
    grid-area: section1 ;
}
#sec1 img{
    width: 100%;
}

#sec2{
    grid-area: section2 ;
}
#sec2 img{
    width: 100px;
}

#sec3{
    grid-area: section3 ;
}
#sec3 img{
    width: 400px;
}

#sec4{
    grid-area: section4 ;
}

#sec5{
    grid-area: section5 ;
}

#sec5 img{
    width: 25px;
    cursor: pointer;
}

#sec6{
    padding: 50px;
    grid-area: section6 ;
    flex-flow: row;
}

#sec6 .map{
    display: flex;
    justify-content: center;
}

#sec6 input{
    margin-top: 10px;
    width: 75%;
}

#sec6 textarea{
    margin-top: 10px;
    width: 75%;
}

#sec6 button{
    margin-top: 10px;
    width: 25%;
}

/* ==> SECTIONS END <== */
/* ==> FOOTER <== */

footer{
    grid-area: footer;
    width: 100%;
    height: 20vh;

    background:;
}

footer ul{
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}
footer ul li p{
    margin: 5px 0;
}

/* ==> FOOTER END <== */
/* ==> RESPONSIVE UWU? <== */

@media(max-width:450px){
    .secStyle2   ul{
        flex-direction: column;
    }
}