    /* ==> GENERAL STYLES <== */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        scroll-behavior: smooth;
    }
    
    body {
        background: #eaeaea;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    ul {
        list-style: none;
    }
    
    li {
        text-align: center;
    }
    
    button {
        padding: 0 10px;
        height: 3.7vh;
        background: none;
        border-radius: 25px;
        border: solid 2px;
        transition-duration: 1000ms;
        cursor: pointer;
        font-size: 2vh;
        font-weight: bolder;
        color: #000000;
    }
    
    button:hover {
        border-radius: 25px;
        background: #000000;
        color: #e6e6e6;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    
    .logo {
        max-width: min-content;
    }
    
    .logo img {
        width: 220px;
    }
    
    .container {
        margin: 0 10% 10px 10%;
        display: grid;
        grid-template-rows: 15vh 70vh 70vh 70vh 70vh 50vh 85vh;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: " header header" " section1 section1" " section2 section2" " section3 section3" " section4 section4" " section5 section5" " section6 section6";
        grid-gap: 20px;
    }
    /* ==>  POP-UP <== */
    
    .popupBg {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
    }
    
    .popup {
        padding: 0 50px;
        position: fixed;
        top: 32.5vh;
        left: 40vw;
        width: 20vw;
        height: 39vh;
        align-items: center;
        justify-items: center;
        border-radius: 10px;
        background: #dfdede;
        opacity: 80%;
    }
    
    .popup .popupContent {
        width: 100%;
        display: flex;
        flex-flow: column;
        text-align: center;
    }
    
    .popup .popupContent .remember {
        display: flex;
        flex-flow: row;
    }
    
    .popup .popupContent .remember .createAccount {
        margin: 0 0 0 70px;
        cursor: pointer;
    }
    
    .popup .popupContent .remember .ckbox {
        margin: 5px 2px 0 0;
        width: max-content;
    }
    
    .popup .popupContent h1 {
        margin: 10px 0;
    }
    
    .popup .popupContent input {
        width: 100%;
        font-size: 19px;
        border-radius: 4px;
        border: none;
        padding: 3px;
        margin: 10px 0;
    }
    
    .popup .popupContent button {
        margin: 15spx 0;
    }
    
    .popup img {
        width: 20px;
        margin-top: 15px;
        margin-left: -30px;
        cursor: pointer;
    }
    /* ==> POP-UP FIM <== */
    
    header {
        padding: 0px 100px;
        grid-area: header;
        width: 100%;
        height: 9vh;
        position: fixed;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "logo lista";
        color: #ffffff;
        background: #e6e6e6;
        font-size: 2.4vh;
        font-weight: bolder;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    
    header h3 {
        grid-area: logo;
    }
    
    header ul {
        grid-area: lista;
        justify-self: end;
    }
    
    header ul li {
        display: inline-block;
        padding: 0 30px;
        height: 1.3vh;
    }
    
    header ul li a {
        padding: 5px 10px;
        color: #000000;
        transition-duration: 1000ms;
    }
    
    header ul li a:hover {
        border-radius: 25px;
        background: #6f2232;
        color: #e6e6e6;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    /* ==> HEADER END <== */
    /* ==> SECTIONS <== */
    
    section {
        display: flex;
        width: 100%;
        height: 100%;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        background: #ffffff;
        border-radius: 0;
    }
    
    .leftAbove {
        padding: 10px;
        display: flex;
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .rigthBellow {
        padding: 10px;
        display: flex;
        width: 45%;
        height: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .rigthBellow :hover {
        margin: 6px;
        transition-duration: 400ms;
    }
    
    .secStyle1 {
        background: rgba(0, 0, 0, 0.4);
        color: #ffffff;
        background: #6f2232;
        border-radius: 10px;
    }
    
    .secStyle2 {
        background: #d3cfcf;
        border-radius: 10px;
    }
    
    .secStyle2 ul {
        width: 100%;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    #sec1 {
        flex-flow: row;
        grid-area: section1;
    }
    
    #sec1 img {
        width: 100%;
    }
    
    #sec1 h1 {
        color: yellow;
    }
    
    #sec2 {
        grid-area: section2;
    }
    
    #sec2 img {
        width: 100px;
    }
    
    #sec2 h3 {
        font-size: 32px;
        color: #6f2232;
    }
    
    #sec2 h5 {
        width: 250px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
        font-size: 2.1vh;
        color: #000000;
    }
    
    #sec2 ul {
        margin-top: -100px;
    }
    
    #sec3 {
        grid-area: section3;
    }
    
    #sec3 h3 {
        font-size: 32px;
    }
    
    #sec3 img {
        width: 400px;
    }
    
    #sec4 {
        grid-area: section4;
    }
    
    #sec4 h3 {
        margin-top: 120px;
        font-size: 32px;
        color: #6f2232;
    }
    
    #sec4 p {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 50px;
    }
    
    .valores img {
        width: 100px;
        height: 100px;
    }
    
    .valores ul {
        justify-content: center;
    }
    
    .valores li {
        padding: 80px;
    }
    
    .valores ul li h5 {
        font-size: 2.1vh;
        font-weight: bold;
        margin-bottom: 50px;
        width: 250px;
        color: #545454;
    }
    
    #sec5 {
        grid-area: section5;
    }
    
    #sec5 .funcionario h4 {
        color: yellow;
    }
    
    #sec5 .arrows {
        margin: 0 15px;
        width: 30px;
    }
    
    #sec5 img {
        cursor: pointer;
    }
    
    #sec5 ul {
        display: flex
    }
    
    #sec5 ul img {
        width: 2vw;
        border-radius: 30px;
        margin-right: 10px;
    }
    
    #arrow1:hover {
        transition-duration: 300ms;
        width: 35px;
    }
    
    #arrow2:hover {
        transition-duration: 300ms;
        width: 35px;
    }
    
    #sec5 ul img:hover {
        transform: scale(1.2);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
    
    .funcionarios {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .funcionario {
        display: flex;
        align-items: center;
        margin: 10px 80px;
    }
    
    .funcionario img {
        border-radius: 50%;
        height: 150px;
        margin-right: 10px;
    }
    
    .funcionario p {
        width: 250px;
    }
    
    #sec5 h3 {
        font-size: 32px;
        font-weight: bold;
    }
    
    #sec6 {
        padding: 50px;
        grid-area: section6;
        /* flex-flow: column; */
    }
    
    #sec6 ul {
        width: 100%;
        height: 100%;
    }
    
    #sec6 li {
        width: 50%;
        height: 60%;
        display: inline-block;
    }
    
    #sec6 h2 {
        font-size: 32px;
        color: #6f2232;
        margin-bottom: 10px;
    }
    
    #sec6 .map {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    
    #sec6 input {
        padding: 5px;
        margin-top: 10px;
        width: 75%;
        height: 4vh;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        transition-duration: 200ms;
    }
    
    #sec6 input:focus {
        border: 2px solid #950740;
        border-radius: 6px;
    }
    
    #sec6 textarea {
        padding: 5px;
        margin-top: 10px;
        width: 75%;
        height: 29vh;
        resize: none;
        border: none;
        border-radius: 5px;
        font-weight: bolder;
        transition-duration: 200ms;
    }
    
    #sec6 textarea:focus {
        border: 2px solid #950740;
        border-radius: 6px;
    }
    
    #sec6 button {
        margin-top: 5px;
        width: 25%;
    }
    /* ==> SECTIONS END <== */
    /* ==> FOOTER <== */
    
    footer {
        grid-area: footer;
        width: 100%;
        height: 12vh;
        background: #e6e6e6;
        font-size: 2vh;
        font-weight: bolder;
        box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
    }
    
    footer a {
        color: #000000;
        padding-top: 20px;
        font-size: 2vh;
    }
    
    footer ul {
        height: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    footer ul li h3 {
        margin: 5px 0;
        font-size: 2vh;
    }
    
    footer ul li h4 {
        margin: 5px 0;
        font-size: 2vh;
        color: #6f2232;
    }
    
    footer ul li img {
        width: 11px;
        display: block;
        float: left;
        margin-top: 5px;
    }
    /* ==> FOOTER END <== */
    /* ==> RESPONSIVE UWU? <== */
    
    @media(max-width:450px) {
        .secStyle2 ul {
            flex-direction: column;
        }
    }